In [1]:
import pandas as pd

In [4]:
data = pd.read_csv("/home/abhishek.anand/Downloads/archive/dummy_original.csv")

In [5]:
data.head(2)

,id,carat,cut,color,clarity,depth,table,x,y,z,model_1,model_2,model_3,model_4,model_5,model_6,model_7,price
0,0,1.52,Premium,F,VS2,62.2,58,7.27,7.33,4.55,13761.61240,13756.54696,13791.32939,13715.19661,13734.79771,13722.76917,13660.55321,13619
1,1,2.03,Very Good,J,SI2,62.0,58,8.06,8.12,5.05,12246.25942,12167.21723,12217.84457,12211.25540,12248.11877,12150.38461,12223.65048,13387