In [1]:
import pandas as pd

In [4]:
data = pd.read_csv("/home/abhishek.anand/Downloads/archive/dummy_original.csv")

In [5]:
data.head(2)

,id,carat,cut,color,clarity,depth,table,x,y,z,model_1,model_2,model_3,model_4,model_5,model_6,model_7,price
0,0,1.52,Premium,F,VS2,62.2,58,7.27,7.33,4.55,13761.61240,13756.54696,13791.32939,13715.19661,13734.79771,13722.76917,13660.55321,13619
1,1,2.03,Very Good,J,SI2,62.0,58,8.06,8.12,5.05,12246.25942,12167.21723,12217.84457,12211.25540,12248.11877,12150.38461,12223.65048,13387

In [7]:
data["cut"].value_counts()

cut
Ideal        4
Premium      3
Very Good    2
Name: count, dtype: int64

In [8]:
data["color"].value_counts()

color
G    4
F    2
J    2
E    1
Name: count, dtype: int64

In [11]:
data.sample(9)

,id,carat,cut,color,clarity,depth,table,x,y,z,model_1,model_2,model_3,model_4,model_5,model_6,model_7,price
0,0,1.52,Premium,F,VS2,62.2,58,7.27,7.33,4.55,13761.612400,13756.546960,13791.329390,13715.196610,13734.797710,13722.769170,13660.553210,13619
6,6,0.74,Ideal,E,VS2,61.8,57,5.76,5.79,3.57,3179.771666,3209.312538,3207.655426,3201.196091,3214.148004,3193.920738,3250.091244,3229
5,5,1.51,Very Good,J,SI1,62.8,58,7.34,7.29,4.59,7323.611983,7332.999997,7285.573041,7381.637556,7389.183317,7429.470886,7246.936859,7506
2,2,0.70,Ideal,G,VS1,61.2,57,5.69,5.73,3.50,2838.352601,2837.282761,2849.527002,2822.457652,2839.210541,2823.713821,2822.481940,2772
3,3,0.32,Ideal,G,VS1,61.6,56,4.38,4.41,2.71,744.561845,725.637035,730.916337,735.733395,738.897218,732.630579,721.739536,666
1,1,2.03,Very Good,J,SI2,62.0,58,8.06,8.12,5.05,12246.259420,12167.217230,12217.844570,12211.255400,12248.118770,12150.384610,12223.650480,13387
8,8,0.30,Ideal,F,IF,62.0,56,4.35,4.37,2.70,946.243498,949.510296,948.749765,946.932585,945.927501,962.202005,955.553679,886
4,4,1.70,Premium,G,VS2,62.6,59,7.65,7.61,4.77,14704.153500,14813.595820,14871.416090,14632.541080,14623.957080,14709.526430,14822.638750,14453
7,7,1.34,Premium,G,SI2,62.5,57,7.00,7.05,4.38,6391.747194,6410.438412,6368.714881,6371.880268,6395.078005,6401.309616,6240.213912,6224

In [13]:
data.isnull().sum()

id         0
carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
model_1    0
model_2    0
model_3    0
model_4    0
model_5    0
model_6    0
model_7    0
price      0
dtype: int64

In [15]:
data.shape

(9, 18)

In [16]:
data.size

162

In [17]:
data.info

<bound method DataFrame.info of    id  carat        cut color clarity  depth  table     x     y     z  \
0   0   1.52    Premium     F     VS2   62.2     58  7.27  7.33  4.55
1   1   2.03  Very Good     J     SI2   62.0     58  8.06  8.12  5.05
2   2   0.70      Ideal     G     VS1   61.2     57  5.69  5.73  3.50
3   3   0.32      Ideal     G     VS1   61.6     56  4.38  4.41  2.71
4   4   1.70    Premium     G     VS2   62.6     59  7.65  7.61  4.77
5   5   1.51  Very Good     J     SI1   62.8     58  7.34  7.29  4.59
6   6   0.74      Ideal     E     VS2   61.8     57  5.76  5.79  3.57
7   7   1.34    Premium     G     SI2   62.5     57  7.00  7.05  4.38
8   8   0.30      Ideal     F      IF   62.0     56  4.35  4.37  2.70

        model_1       model_2       model_3       model_4       model_5  \
0  13761.612400  13756.546960  13791.329390  13715.196610  13734.797710
1  12246.259420  12167.217230  12217.844570  12211.255400  12248.118770
2   2838.352601   2837.282761   2849.527002   2822.457652   2839.210541
3    744.561845    725.637035    730.916337    735.733395    738.897218
4  14704.153500  14813.595820  14871.416090  14632.541080  14623.957080
5   7323.611983   7332.999997   7285.573041   7381.637556   7389.183317
6   3179.771666   3209.312538   3207.655426   3201.196091   3214.148004
7   6391.747194   6410.438412   6368.714881   6371.880268   6395.078005
8    946.243498    949.510296    948.749765    946.932585    945.927501

        model_6       model_7  price
0  13722.769170  13660.553210  13619
1  12150.384610  12223.650480  13387
2   2823.713821   2822.481940   2772
3    732.630579    721.739536    666
4  14709.526430  14822.638750  14453
5   7429.470886   7246.936859   7506
6   3193.920738   3250.091244   3229
7   6401.309616   6240.213912   6224
8    962.202005    955.553679    886  >

In [18]:
data.columns

Index(['id', 'carat', 'cut', 'color', 'clarity', 'depth', 'table', 'x', 'y',
       'z', 'model_1', 'model_2', 'model_3', 'model_4', 'model_5', 'model_6',
       'model_7', 'price'],
      dtype='object')

In [19]:
data.drop(labels=["id"],axis=1,inplace=True)

In [20]:
data

,carat,cut,color,clarity,depth,table,x,y,z,model_1,model_2,model_3,model_4,model_5,model_6,model_7,price
0,1.52,Premium,F,VS2,62.2,58,7.27,7.33,4.55,13761.612400,13756.546960,13791.329390,13715.196610,13734.797710,13722.769170,13660.553210,13619
1,2.03,Very Good,J,SI2,62.0,58,8.06,8.12,5.05,12246.259420,12167.217230,12217.844570,12211.255400,12248.118770,12150.384610,12223.650480,13387
2,0.70,Ideal,G,VS1,61.2,57,5.69,5.73,3.50,2838.352601,2837.282761,2849.527002,2822.457652,2839.210541,2823.713821,2822.481940,2772
3,0.32,Ideal,G,VS1,61.6,56,4.38,4.41,2.71,744.561845,725.637035,730.916337,735.733395,738.897218,732.630579,721.739536,666
4,1.70,Premium,G,VS2,62.6,59,7.65,7.61,4.77,14704.153500,14813.595820,14871.416090,14632.541080,14623.957080,14709.526430,14822.638750,14453
5,1.51,Very Good,J,SI1,62.8,58,7.34,7.29,4.59,7323.611983,7332.999997,7285.573041,7381.637556,7389.183317,7429.470886,7246.936859,7506
6,0.74,Ideal,E,VS2,61.8,57,5.76,5.79,3.57,3179.771666,3209.312538,3207.655426,3201.196091,3214.148004,3193.920738,3250.091244,3229
7,1.34,Premium,G,SI2,62.5,57,7.00,7.05,4.38,6391.747194,6410.438412,6368.714881,6371.880268,6395.078005,6401.309616,6240.213912,6224
8,0.30,Ideal,F,IF,62.0,56,4.35,4.37,2.70,946.243498,949.510296,948.749765,946.932585,945.927501,962.202005,955.553679,886

In [21]:
data.drop(labels=["model_1"],axis=1,inplace=True)

In [22]:
data

,carat,cut,color,clarity,depth,table,x,y,z,model_2,model_3,model_4,model_5,model_6,model_7,price
0,1.52,Premium,F,VS2,62.2,58,7.27,7.33,4.55,13756.546960,13791.329390,13715.196610,13734.797710,13722.769170,13660.553210,13619
1,2.03,Very Good,J,SI2,62.0,58,8.06,8.12,5.05,12167.217230,12217.844570,12211.255400,12248.118770,12150.384610,12223.650480,13387
2,0.70,Ideal,G,VS1,61.2,57,5.69,5.73,3.50,2837.282761,2849.527002,2822.457652,2839.210541,2823.713821,2822.481940,2772
3,0.32,Ideal,G,VS1,61.6,56,4.38,4.41,2.71,725.637035,730.916337,735.733395,738.897218,732.630579,721.739536,666
4,1.70,Premium,G,VS2,62.6,59,7.65,7.61,4.77,14813.595820,14871.416090,14632.541080,14623.957080,14709.526430,14822.638750,14453
5,1.51,Very Good,J,SI1,62.8,58,7.34,7.29,4.59,7332.999997,7285.573041,7381.637556,7389.183317,7429.470886,7246.936859,7506
6,0.74,Ideal,E,VS2,61.8,57,5.76,5.79,3.57,3209.312538,3207.655426,3201.196091,3214.148004,3193.920738,3250.091244,3229
7,1.34,Premium,G,SI2,62.5,57,7.00,7.05,4.38,6410.438412,6368.714881,6371.880268,6395.078005,6401.309616,6240.213912,6224
8,0.30,Ideal,F,IF,62.0,56,4.35,4.37,2.70,949.510296,948.749765,946.932585,945.927501,962.202005,955.553679,886

In [24]:
data.drop(labels=["model_2"],axis=1,inplace=True)
data.drop(labels=["model_3"],axis=1,inplace=True)
data.drop(labels=["model_4"],axis=1,inplace=True)
data.drop(labels=["model_5"],axis=1,inplace=True)
data.drop(labels=["model_6"],axis=1,inplace=True)
data.drop(labels=["model_7"],axis=1,inplace=True)

In [25]:
data

   carat        cut color clarity  depth  table     x     y     z  price
0   1.52    Premium     F     VS2   62.2     58  7.27  7.33  4.55  13619
1   2.03  Very Good     J     SI2   62.0     58  8.06  8.12  5.05  13387
2   0.70      Ideal     G     VS1   61.2     57  5.69  5.73  3.50   2772
3   0.32      Ideal     G     VS1   61.6     56  4.38  4.41  2.71    666
4   1.70    Premium     G     VS2   62.6     59  7.65  7.61  4.77  14453
5   1.51  Very Good     J     SI1   62.8     58  7.34  7.29  4.59   7506
6   0.74      Ideal     E     VS2   61.8     57  5.76  5.79  3.57   3229
7   1.34    Premium     G     SI2   62.5     57  7.00  7.05  4.38   6224
8   0.30      Ideal     F      IF   62.0     56  4.35  4.37  2.70    886

In [26]:
data.duplicated().sum()

np.int64(0)

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    9 non-null      float64
 1   cut      9 non-null      object
 2   color    9 non-null      object
 3   clarity  9 non-null      object
 4   depth    9 non-null      float64
 5   table    9 non-null      int64
 6   x        9 non-null      float64
 7   y        9 non-null      float64
 8   z        9 non-null      float64
 9   price    9 non-null      int64
dtypes: float64(5), int64(2), object(3)
memory usage: 852.0+ bytes

In [29]:
data.dtypes

carat      float64
cut         object
color       object
clarity     object
depth      float64
table        int64
x          float64
y          float64
z          float64
price        int64
dtype: object

In [ ]:
categorical_columns = data.columns[data.dtypes == "object"]

In [33]:
num_columns  = data.columns[data.dtypes != "object"]

In [34]:
num_columns

Index(['carat', 'depth', 'table', 'x', 'y', 'z', 'price'], dtype='object')

In [36]:
data[num_columns].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   carat   9 non-null      float64
 1   depth   9 non-null      float64
 2   table   9 non-null      int64
 3   x       9 non-null      float64
 4   y       9 non-null      float64
 5   z       9 non-null      float64
 6   price   9 non-null      int64
dtypes: float64(5), int64(2)
memory usage: 636.0 bytes

In [37]:
data[categorical_columns]

         cut color clarity
0    Premium     F     VS2
1  Very Good     J     SI2
2      Ideal     G     VS1
3      Ideal     G     VS1
4    Premium     G     VS2
5  Very Good     J     SI1
6      Ideal     E     VS2
7    Premium     G     SI2
8      Ideal     F      IF